@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&amp;family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/theme/vendors/animate.css" />
    <link rel="stylesheet" href="~/theme/vendors/fontawesome-pro-5/css/all.css" />
    <link rel="stylesheet" href="~/theme/css/themes.css" />
    <link rel="icon" href="~/theme/images/favicon.ico" />


</head>
<body>
    <main id="content">
        <section class="py-13">
            <div class="container">
                <div class="row login-register">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xl-6">
                        <div class="card border-0 shadow-xxs-2 mb-6">
                            <div class="card-body px-8 py-6">
                                <h2 class="card-title fs-30 font-weight-600 text-dark lh-16 mb-2">
                                    Log In
                                </h2>
                                <form class="form">
                                    <div class="form-group mb-4">
                                        <label for="username-1">Email</label>
                                        <input type="text"
                                               class="form-control form-control-lg border-0"
                                               id="username-1"
                                               name="username"
                                               placeholder="Your email" />
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password-2">Password</label>
                                        <div class="input-group input-group-lg">
                                            <input type="text"
                                                   class="form-control border-0 shadow-none fs-13"
                                                   id="password-2"
                                                   name="password"
                                                   placeholder="Password" />
                                            <div class="input-group-append">
                                                <span class="input-group-text bg-gray-01 border-0 text-body fs-18">
                                                    <i class="far fa-eye-slash"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   value=""
                                                   id="remember-me-1"
                                                   name="remember" />
                                            <label class="form-check-label" for="remember-me-1">
                                                Stay signed in
                                            </label>
                                        </div>
                                        <a href="password-recovery.html"
                                           class="d-inline-block ml-auto fs-13 lh-2 text-body">
                                            <u>Forgot your password?</u>
                                        </a>
                                    </div>
                                    <button type="submit"
                                            class="btn btn-primary btn-lg btn-block rounded">
                                        Log in
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xl-3"></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-dark pt-8 pb-6 footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-6 mb-md-0">
                    <a class="d-block mb-2" href="#">
                        <img src="images/logo-white-primary.png" alt="HomeID" />
                    </a>
                    <div class="lh-26 font-weight-500">
                        <p class="mb-0">58 Howard Street #2 San Francisco</p>
                        <a class="d-block text-muted hover-white"
                           href="mailto:contact@homeid.com">contact@homeid.com</a>
                        <a class="d-block text-lighter font-weight-bold fs-15 hover-white"
                           href="tel:(+68)122109876">(+68)1221 09876</a>
                        <a class="d-block text-muted hover-white" href=".html">www.homeid.com</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 mb-6 mb-md-0">
                    <h4 class="text-white fs-16 my-4 font-weight-500">
                        Popular Searches
                    </h4>
                    <ul class="list-group list-group-flush list-group-no-border">
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Apartment for Rent</a>
                        </li>
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Apartment Low to hide</a>
                        </li>
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Offices for Buy</a>
                        </li>
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Offices for Rent</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-2 mb-6 mb-md-0">
                    <h4 class="text-white fs-16 my-4 font-weight-500">Quick links</h4>
                    <ul class="list-group list-group-flush list-group-no-border">
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Terms of Use</a>
                        </li>
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Privacy Policy</a>
                        </li>
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Contact Support</a>
                        </li>
                        <li class="list-group-item bg-transparent p-0">
                            <a href="#" class="text-muted lh-26 hover-white font-weight-500">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4 mb-6 mb-md-0">
                    <h4 class="text-white fs-16 my-4 font-weight-500">
                        Sign Up for Our Newsletter
                    </h4>
                    <p class="font-weight-500 text-muted lh-184">
                        Lorem ipsum dolor sit amet, consecte tur cing elit. Suspe ndisse
                        suscipit sagittis
                    </p>
                    <form>
                        <div class="input-group input-group-lg mb-6">
                            <input type="text"
                                   name="email"
                                   required
                                   class="form-control bg-white shadow-none border-0 z-index-1"
                                   placeholder="Your email" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                            <a href="#"
                               class="text-white opacity-3 fs-25 px-4 opacity-hover-10">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-0">
                            <a href="#"
                               class="text-white opacity-3 fs-25 px-4 opacity-hover-10">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-0">
                            <a href="#"
                               class="text-white opacity-3 fs-25 px-4 opacity-hover-10">
                                <i class="fab fa-skype"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-0">
                            <a href="#"
                               class="text-white opacity-3 fs-25 px-4 opacity-hover-10">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-0 mt-md-10 row">
                <ul class="list-inline mb-0 col-md-6 mr-auto">
                    <li class="list-inline-item mr-6">
                        <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-muted lh-26 font-weight-500 hover-white">Privacy Policy</a>
                    </li>
                </ul>
                <p class="col-md-auto mb-0 text-muted">
                    © 2020 homeID. All Rights Reserved
                </p>
            </div>
        </div>
    </footer>
    <script src="~/theme/js/theme.js"></script>
</body>

<!-- Mirrored from templates.g5plus.net/homeid/signup-and-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 03 Jun 2023 04:55:33 GMT -->
</html>
