@{
    ViewData["Title"] = "Dashborad";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Dashboard</h1>

<div class="table-responsive">
    <table class="table table-hover bg-white border rounded-lg">
        @for (int i = 0; i < 50; i++)
        {
            <tr>
                <td>
                    @i &nbsp; &nbsp; &nbsp; &nbsp;
                    @for (int k = 0; k < 10; k++)
                    {
                        <span> @k - Fake Data &nbsp;</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>